body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:1200px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:1200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3410px;
  height:1798px;
}
#u1 {
  position:absolute;
  left:-329px;
  top:-221px;
  width:3410px;
  height:1798px;
}
#u2 {
  position:absolute;
  left:2px;
  top:891px;
  width:3406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5350px;
  height:3567px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:-1299px;
  top:-1106px;
  width:5350px;
  height:3567px;
  opacity:0.08;
}
#u4 {
  position:absolute;
  left:2px;
  top:1776px;
  width:5346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:552px;
}
#u5 {
  position:absolute;
  left:774px;
  top:324px;
  width:252px;
  height:552px;
}
#u6 {
  position:absolute;
  left:2px;
  top:268px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u7 {
  position:absolute;
  left:1376px;
  top:678px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2275px;
  height:1200px;
}
#u9 {
  position:absolute;
  left:-16px;
  top:2847px;
  width:2275px;
  height:1200px;
}
#u10 {
  position:absolute;
  left:2px;
  top:592px;
  width:2271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:432px;
}
#u11 {
  position:absolute;
  left:96px;
  top:748px;
  width:440px;
  height:432px;
}
#u12 {
  position:absolute;
  left:2px;
  top:208px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:134px;
}
#u13 {
  position:absolute;
  left:1345px;
  top:38px;
  width:390px;
  height:134px;
}
#u14 {
  position:absolute;
  left:2px;
  top:59px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:123px;
}
#u15 {
  position:absolute;
  left:289px;
  top:0px;
  width:882px;
  height:123px;
}
#u16 {
  position:absolute;
  left:2px;
  top:54px;
  width:878px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:86px;
}
#u17 {
  position:absolute;
  left:-16px;
  top:12px;
  width:255px;
  height:86px;
}
#u18 {
  position:absolute;
  left:2px;
  top:35px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:391px;
}
#u19 {
  position:absolute;
  left:1312px;
  top:745px;
  width:413px;
  height:391px;
}
#u20 {
  position:absolute;
  left:2px;
  top:188px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:235px;
}
#u21 {
  position:absolute;
  left:1399px;
  top:816px;
  width:237px;
  height:235px;
}
#u22 {
  position:absolute;
  left:2px;
  top:110px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:107px;
  top:264px;
  width:149px;
  height:344px;
  overflow:hidden;
  touch-action:none;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:344px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:442px;
}
#u24 {
  position:absolute;
  left:-2px;
  top:-56px;
  width:137px;
  height:442px;
}
#u25 {
  position:absolute;
  left:2px;
  top:213px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:86px;
  height:86px;
}
#u26 {
  position:absolute;
  left:33px;
  top:254px;
  width:74px;
  height:74px;
}
#u27 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:344px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:442px;
}
#u28 {
  position:absolute;
  left:-2px;
  top:-56px;
  width:137px;
  height:442px;
}
#u29 {
  position:absolute;
  left:2px;
  top:213px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:84px;
  height:84px;
}
#u30 {
  position:absolute;
  left:33px;
  top:254px;
  width:74px;
  height:74px;
}
#u31 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u32 {
  position:absolute;
  left:899px;
  top:648px;
  width:1px;
  height:1px;
  -webkit-transform:rotate(145deg);
  -moz-transform:rotate(145deg);
  -ms-transform:rotate(145deg);
  transform:rotate(145deg);
}
#u33 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1576px;
  top:264px;
  width:149px;
  height:344px;
  overflow:hidden;
  touch-action:none;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:344px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:442px;
}
#u35 {
  position:absolute;
  left:-2px;
  top:-56px;
  width:137px;
  height:442px;
}
#u36 {
  position:absolute;
  left:2px;
  top:213px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:86px;
  height:86px;
}
#u37 {
  position:absolute;
  left:33px;
  top:254px;
  width:74px;
  height:74px;
}
#u38 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:344px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:442px;
}
#u39 {
  position:absolute;
  left:-2px;
  top:-56px;
  width:137px;
  height:442px;
}
#u40 {
  position:absolute;
  left:2px;
  top:213px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:84px;
  height:84px;
}
#u41 {
  position:absolute;
  left:33px;
  top:254px;
  width:74px;
  height:74px;
}
#u42 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:138px;
  top:772px;
  width:320px;
  height:324px;
  overflow:hidden;
  touch-action:none;
}
#u43_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:324px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:108px;
  height:108px;
}
#u44 {
  position:absolute;
  left:112px;
  top:108px;
  width:96px;
  height:96px;
}
#u45 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:324px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:106px;
  height:106px;
}
#u46 {
  position:absolute;
  left:112px;
  top:108px;
  width:96px;
  height:96px;
}
#u47 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
